.DS_Store
admin/node_modules/
admin/dist/
admin/npm-debug.log*
admin/yarn-debug.log*
admin/yarn-error.log*
admin/package-lock.json
admin/tests/**/coverage/

# Editor directories and files
admin/.idea
admin/.vscode
admin/*.suo
admin/*.ntvs*
admin/*.njsproj
admin/*.sln

api/node_modules/