body {
    /* height: 3000px; */
    background-color: #f9f9f9;
}

.content {
    padding: 50px 100px;
    background-color: #fff;
    box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}

/* 鼠标经过文本变色 */
.hoverTitle:hover {
    color: #727cf5;
    transition: 0.3s;
}

/* 工具栏 */
.toolbar{
    position: fixed;
    top: 50%;
    right: 50px;
}