@font-face {
  font-family: "iconfont"; /* Project id 3704779 */
  src: url('iconfont.woff2?t=1669031248823') format('woff2'),
       url('iconfont.woff?t=1669031248823') format('woff'),
       url('iconfont.ttf?t=1669031248823') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-picture__easy:before {
  content: "\e601";
}

.icon-tubiaozhizuomoban-:before {
  content: "\e604";
}

.icon-yibiaopan:before {
  content: "\eb67";
}

.icon-tupian:before {
  content: "\e701";
}

.icon-yibiaopan1:before {
  content: "\e834";
}

.icon-shipin:before {
  content: "\e665";
}

.icon-yibiaopan2:before {
  content: "\e669";
}

.icon-shipin1:before {
  content: "\eddf";
}

.icon-tupian1:before {
  content: "\ede0";
}

.icon-wenjianleixing-biaozhuntu-wenjianjia:before {
  content: "\e6a5";
}

.icon-wenjianleixing-suolvetu-wenjianjia:before {
  content: "\e6a9";
}

.icon-shipin2:before {
  content: "\fb3c";
}

.icon-changjingguanli:before {
  content: "\eb61";
}

.icon-icon_yingyongguanli:before {
  content: "\eb8f";
}

.icon-31shezhi:before {
  content: "\e600";
}

.icon-xiezi:before {
  content: "\e60e";
}

.icon-chuangzuo:before {
  content: "\e8ad";
}

.icon-wode:before {
  content: "\e63a";
}

.icon-Union-1:before {
  content: "\e62f";
}

.icon-zhuye:before {
  content: "\e62d";
}

